language: csharp
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: "xcode8.3"

solution: FSharp.Core.Experimental.OptionBuilder.sln

dotnet: 2.0.0

install:
  - dotnet restore

script:
  - dotnet test